
.navbar-brand{
  padding-left:20px;
  font-size:25px;
}
.nav-item{
  padding:0 18px;
}
.buttonproblem{
  text-align:center;
}
.downloadbuttons{
  margin-top:15%;
}

h1{
  font-family: 'Patrick Hand', cursive;
  font-weight:bolder;
  font-size: 3rem;
  line-height: 1.5;
  color:#184D47;
}

h2{
  font-size:3.5rem;
  font-weight:bolder;
}
.container-fluid{
   padding:5% 10%;
}
#title{
  background-color:#FF5C58;
}

@media (max-width:768px){
  #title{
    background-color:#FF5C58;
    text-align: center;
  }
  .firstone{
    padding-top:40px;
    text-align:center;
    position:static;
  }
}
/*#carouselExampleFade{
  margin-left:150px;
}*/
/*******Images***********/

.adoption{
  margin:0;
  height:350px;
  width:300px;
}
/*.introimage{
  height:400px;
  width:400px;
}*/
/*************Feature section**********/
#features{
  background-color:#FFDAC7;
  margin:auto;
}

.featurebox{
  text-align:center;
  padding:5%;
}

h3{
  font-family: 'Cardo', serif;
  font-weight:900;
  color:#184D47;
}

p{
  font-family: 'Cardo', serif;
  color:#184D47;
}
.featureicons{
  color:#FF5C58;
  margin-bottom:1rem;
}
.featureicons:hover{
  color:#184D47;
}
/********************Testimonials****************/
#testimonials{
  font-family: 'Cardo', serif;
  text-align:center;
  background-color:#FF5C58;
  color:#184D47;
}

.testimonial-image{
  height:200px;
  border-radius:70%;
  margin-top:50px;
}

.secondone{
  padding:7% 15%;
}
/******************Press**************/
#press{
  background-color:#FFDAC7;
  padding:2% 0 3% 6%;
}

.press-logo{
  width:15%;
  margin:20px 20px 20px 75px;
}
/**********Pricing**********/
#pricing{
  font-family: 'Cardo', serif;
  padding:5% 10%;
  text-align:center;
  background-color:#184D47;
  color:white;
}
.card{
  background-color:#FFDAC7;
}
.pricing-column{
  padding:3% 2%;
}

/*********************CTA section******************/
#cta{
  background-color:#FF5C58;
  text-align:center;
  padding:5% 0 5% 0;
}

.lastbuttons{
  margin:3% 0 2% 1%;
}

/*********************footer section*****************/
#footer{
  background-color:#FFDAC7;
  padding:10px 10px 10px 10px;
  text-align:center;
}

.footericons{
  margin:10px;
}
